
.myContainer{
    gap: 15%;
    width: fit-content;
}

:root {
    --main-color: #000080; /* Azul marino */
}

li{
    list-style: none;
}

li:not(:last-child){
    margin-bottom: 15 px;
}

li::before{
    content: "\07DB";
    color: var(--main-color);
}

.myTop{
    position: relative;
    display: inline-flex;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 90%;
    margin-left: 10%;
    width: 80%;
    height: fit-content;
    border-bottom: 2px solid rgb(61, 9, 158);
}

.myTop::before, .myTop::after {
    content: '';
    width: 70px;
    height: 70px;
    background-color: var(--main-color);
    position: absolute;
    border-radius: 50%;
}

.myTop::before {
    top: -25px;
    left: -25px;
}

.myTop::after {
    bottom: -25px;
    right: -25px;
}

.myTopLeft{
    width: 40%;
    margin-left: 5%;
    font-size: 130%;
}

.myTopLeft p{
    font-size: 65%;  
}

.myTopLeft h3{
    margin-left: 5%;  
}

.myTopCenter{
    width: 30%;
    margin-left: 5%;
}

.myTopCenter img{
    float:inherit;
    margin-top: 10%;
    margin-right: 10%;
    border-radius: 50%;
}

.myTopRight{
    width: 33%;
}

.myBody{
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
    margin-left: 10%;
    width: 80%;
    height: 50vh;
}

.rectangle{
    margin-left: 0%;
    position: absolute;
    margin-top:3%;
    transform: translate(-50%,-50%);
    width: 1.5%;
    height: 10%;
    background: var(--main-color);
}

.bodyS{
    display: inline-flex;
    width: 100%;
    margin-top: 3%;
    gap: 25%;
}

.bodyLeftRight{
    width: 60%;
    margin-left: 0%;
    gap: 5%;
}

.bodyLeftRight li{
    font-size: 90%;
}

.bodyLeftRight h4{
    margin-left: 20%;
    font-size: 150%;
}

.bodyLeftRight p{
    margin-top: 5%;
    margin-left: 15%;
}

.media li{
    font-size: 120%;
}

.backgroundCircle{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 300%;
    background-color: var(--main-color);
    border-radius: 50%;
    transform: (-50%, -50%);
    z-index: -1;
    opacity: 0.5;
}

.mainBox {
    height: 100%;
    background: #fff;
    overflow: hidden;
    color: #000000;
  }
  
  .curveSection {
    width: 200%;
    height: 100%;
    border-radius: 50%;
    background: var(--main-color);
    top: 25%;
    left: -50%;
    right: 0;
    position: relative;
    border-top: 10px solid #fdedea;
  }

.container{
    position: relative;
    max-width: 500px;
    width: 100%;
    background-color: #fff;
    margin: 0 15px;
    padding: 10px 20px;
    border-radius: 7px;
}

.container .skillBox{
    width: 100%;
    margin: 25px 0;
}

.skillBox .title{
    display: block;
    font-size: 14px;
    font-weight: 600;
    color: #333;
}

.skillBox .skillBar{
    width: 100%;
    height: 8px;
    border-radius: 6px;
    margin-top:  6px;
    background: rgba(0,0,0,0.1);
}

.skillBar .skillPer{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 6px;
    background-color: var(--main-color);
    animation: progress 0.4s ease-in-out forwards;
}

.skillPer.Data{
    width:95%;
}

.skillPer.Problem{
    width:95%;
}

.skillPer.Managment{
    width:90%;
}

.skillPer.Persistence{
    width:85%;
}

.skillPer.Adaptability{
    width:85%;
}

.skillPer.Effective{
    width:85%;
}

.skillPer.Decision{
    width:80%;
}

.skillPer.English{
    width:80%;
}

.skillPer.Spanish{
    width:100%;
}


.skillPer.Java{
    width:90%;
}

.skillPer.Python{
    width:70%;
}

.skillPer.C{
    width:80%;
}

.skillPer.Git{
    width:95%;
}

.skillPer.Intellij{
    width:90%;
}

.skillPer.Vs{
    width:75%;
}

.skillPer.Arduino{
    width:85%;
}

.skillPer.Office{
    width:85%;
}

.skillPer.Ai{
    width:75%;
}

@keyframes progress {
    0%{
       width: 0;
       opacity: 0; 
    }

    100%{
        opacity: 1;
    }
}

.skillPer .toolTip{
    position: absolute;
    right: -14px;
    top: -28px;
    font-size: 9px;
    font-weight: 500;
    color:#fff;
    padding: 2px 6px;
    border-radius: 3px;
    background: var(--main-color);
    z-index: 1;
}

.toolTip::before{
    content: '';
    position: absolute;
    left: 50%;
    bottom: -2px;
    height: 10px;
    width: 10px;
    z-index: -1;
    background-color: var(--main-color);
    transform: translateY(-50%) rotate(45deg);
}